
.folder-list{
    list-style: none;
    color: black;
    margin-left: -30px;
}
.folder{
    text-align: left;
    padding: 10px 25px 10px 15px;
    margin: 15px;
    text-decoration: none !important;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-radius: 5px 0px 0px 5px;
    margin-right: 0px;
    margin-left: 30%;
    font-size: 20px;
    font-weight: bolder;
    background-color: #A2CC66;
    color: rgb(0, 15, 73);
}
.folder:hover{
    background-color: rgb(211, 248, 160);
}
.NavLink{
    color: rgb(0, 15, 73);
}
.activeNavLink > .folder{
    font-style: italic;
    background-color: #67991F;
}