
.folder-list{
    margin-left: -20px;
    list-style: none;
    color: black;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.folder{
    color: rgb(0, 15, 73);
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-radius: 5px 0px 0px 5px;
    min-width: 125px;
    max-width:220px;
    width: 100%;
    margin: 1px 0px 16px auto;
    overflow: hidden;
    display: flex;
}
.folder-NavLink:hover{
    background-color: rgb(211, 248, 160);
}
.folder-NavLink{
    padding: 10px 3px 10px 15px;
    margin: 0px;
    text-align: left;
    width: 100%;
    min-width: 125px;
    max-width:220px;
    text-decoration: none !important;
    font-size: 20px;
    font-weight: bolder;
    background-color: #A2CC66;
    color: rgb(0, 15, 73);
}
.activeNavLink > .folder{
    font-style: italic;
    background-color: #67991F;
}