.App {
  text-align: center;
  display: flex;
}

.App-header {
  text-decoration: none;
  background-color: rgb(247, 233, 158);
  font-size: calc(10px + 2vmin);
  border: 1px solid grey;
}

.header-text{
  text-decoration: none;
  color: rgb(12, 18, 43);
}

.App-sidebar{
  width: 25%;
  min-width: 150px;
  margin-top: 100px;
}
.App-main{
  border: 1px solid grey;
  width: 75%;
}